In [1]:
import pandas as pd
import numpy as np

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
import os
import re

In [108]:
def to_concept_id(s):
    '''convert a string to lowercase alphanumeric + underscore id for concepts'''
    s1 = re.sub(r'[/ -\.\*";]+', '_', s.strip())
    s1 = re.sub(r'\[.*\]', '', s1)
    s1 = s1.replace('\n', '')
    
    if s1[-1] == '_':
        s1 = s1[:-1]

    return s1.lower()

In [9]:
est = pd.read_excel('./source/WPP2015_INT_F01_ANNUAL_DEMOGRAPHIC_INDICATORS.XLS', sheetname='ESTIMATES', skiprows=16, index_col=0)

In [10]:
est.head()

,Variant,"Major area, region, country or area *",Notes,Country code,Reference date (1 January - 31 December),Deaths (thousands),Male deaths (thousands),Female deaths (thousands),"Crude death rate (deaths per 1,000 population)","Life expectancy at birth, both sexes combined (years)",...,Total survivors to age 1 (thousands),"Under-five mortality (deaths under age 5 per 1,000 live births)",Births (thousands),"Crude birth rate (births per 1,000 population)",Total fertility (children per woman),Total population natural change / increase (thousands),"Rate of natural increase (per 1,000 population)",Population change (thousands),Population growth rate (percentage),Total population annual doubling time [n=(ln(2)/r] (years)
Index,,,,,,,,,,,,,,,,,,,,,
1,Estimates,WORLD,NaN,900,1950,51437.976,26796.140,24641.827,20.116,45.593,...,82420.256,225.631,96672.059,37.814,5.042,45234.083,17.697,46291.938,1.833,37.811
2,Estimates,WORLD,NaN,900,1951,51232.434,26704.963,24527.467,19.879,45.925,...,82638.106,222.727,96754.672,37.549,5.016,45522.238,17.670,46400.342,1.804,38.415
3,Estimates,WORLD,NaN,900,1952,50877.355,26548.612,24328.740,19.424,46.562,...,83170.010,217.193,97037.503,37.055,4.971,46160.148,17.631,46082.463,1.760,39.375
4,Estimates,WORLD,NaN,900,1953,50634.288,26444.296,24189.989,19.008,47.141,...,83888.906,212.206,97555.497,36.632,4.936,46921.209,17.625,46368.005,1.741,39.824
5,Estimates,WORLD,NaN,900,1954,50503.235,26391.999,24111.232,18.631,47.662,...,84794.576,207.766,98308.655,36.281,4.912,47805.420,17.650,47140.244,1.739,39.859

In [11]:
mva = pd.read_excel('./source/WPP2015_INT_F01_ANNUAL_DEMOGRAPHIC_INDICATORS.XLS', sheetname='MEDIUM VARIANT', skiprows=16, index_col=0)

In [12]:
mva.head()

,Variant,"Major area, region, country or area *",Notes,Country code,Reference date (1 January - 31 December),Deaths (thousands),Male deaths (thousands),Female deaths (thousands),"Crude death rate (deaths per 1,000 population)","Life expectancy at birth, both sexes combined (years)",...,Total survivors to age 1 (thousands),"Under-five mortality (deaths under age 5 per 1,000 live births)",Births (thousands),"Crude birth rate (births per 1,000 population)",Total fertility (children per woman),Total population natural change / increase (thousands),"Rate of natural increase (per 1,000 population)",Population change (thousands),Population growth rate (percentage),Total population annual doubling time [n=(ln(2)/r] (years)
Index,,,,,,,,,,,,,,,,,,,,,
1,Medium variant,WORLD,NaN,900,2015,57249.040,30511.939,26737.097,7.790,71.112,...,135912.317,46.495,140631.293,19.136,2.492,83382.253,11.345,83441.414,1.135,61.049
2,Medium variant,WORLD,NaN,900,2016,57862.647,30846.527,27016.126,7.786,71.342,...,136101.292,45.450,140712.308,18.934,2.484,82849.661,11.148,82908.907,1.116,62.137
3,Medium variant,WORLD,NaN,900,2017,58507.497,31197.077,27310.419,7.787,71.562,...,136160.670,44.485,140666.869,18.721,2.476,82159.372,10.934,82259.358,1.095,63.323
4,Medium variant,WORLD,NaN,900,2018,59177.447,31560.424,27617.021,7.792,71.774,...,136115.808,43.574,140519.495,18.501,2.467,81342.048,10.709,81448.813,1.072,64.650
5,Medium variant,WORLD,NaN,900,2019,59869.014,31934.692,27934.318,7.800,71.982,...,135990.536,42.696,140293.619,18.277,2.458,80424.605,10.477,80494.400,1.048,66.114

In [14]:
mva.columns[6:] == est.columns[6:]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True], dtype=bool)

In [93]:
def get_unit(cols):
    res = {}
    
    for c in cols:
        name, unit = re.match(r"(.*) *\((.*)\)", c).groups()
        res[name.strip()] = unit
    
    return res

In [94]:
res = get_unit(mva.columns[6:])

In [95]:
res

{'Births': 'thousands',
 'Crude birth rate': 'births per 1,000 population',
 'Crude death rate': 'deaths per 1,000 population',
 'Female deaths': 'thousands',
 'Infant deaths, both sexes combined': 'under age 1, thousands',
 'Infant mortality rate': 'infant deaths per 1,000 live births',
 'Life expectancy at birth, both sexes combined': 'years',
 'Life expectancy at birth, females': 'years',
 'Life expectancy at birth, males': 'years',
 'Male deaths': 'thousands',
 'Population change': 'thousands',
 'Population growth rate': 'percentage',
 'Rate of natural increase': 'per 1,000 population',
 'Total fertility': 'children per woman',
 'Total population annual doubling time [n=(ln(2)/r]': 'years',
 'Total population natural change / increase': 'thousands',
 'Total survivors to age 1': 'thousands',
 'Under-five mortality': 'deaths under age 5 per 1,000 live births'}

In [144]:
res.get('Births')

'thousands'

In [39]:
est['Notes'].unique()

array([nan, 'a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
       11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30], dtype=object)

In [40]:
notes = pd.read_excel('./source/WPP2015_INT_F01_ANNUAL_DEMOGRAPHIC_INDICATORS.XLS', sheetname='NOTES')

In [42]:
nt = notes['Notes']

In [166]:
res_notes = {}

for n in nt:
    g1, g2 = re.match(r'\((.{1,2})\) * (.*)', n).groups()
    res_notes[g1] = g2

In [167]:
res_notes

{'*': 'Countries or areas listed individually are only those with 90,000 inhabitants or more in 2015; the rest are included in the aggregates but are not listed separately.',
 '1': 'Including Agalega, Rodrigues and Saint Brandon.',
 '10': 'Refers to the whole country',
 '11': 'Including Abkhazia and South Ossetia.',
 '12': 'Including East Jerusalem.',
 '13': 'Including Transnistria.',
 '14': 'Including Crimea',
 '15': 'Including Faeroe Islands, and Isle of Man.',
 '16': 'Refers to Guernsey, and Jersey.',
 '17': 'Including Ã…land Islands.',
 '18': 'Including Svalbard and Jan Mayen Islands.',
 '19': 'Including Andorra, Gibraltar, Holy See, and San Marino.',
 '2': 'Including Zanzibar.',
 '20': 'Including Kosovo.',
 '21': 'Including Canary Islands, Ceuta and Melilla.',
 '22': 'The former Yugoslav Republic of Macedonia.',
 '23': 'Including Liechtenstein, and Monaco.',
 '24': 'Including Anguilla, British Virgin Islands, Caribbean Netherlands, Cayman Islands, Dominica, Montserrat, Saint Kitts and Nevis, Sint Maarten (Dutch part) and Turks and Caicos Islands.',
 '25': 'Including Saint-BarthÃ©lemy and Saint-Martin (French part).',
 '26': 'Including Falkland Islands (Malvinas).',
 '27': 'Including Bermuda, Greenland, and Saint Pierre and Miquelon.',
 '28': 'Including Christmas Island, Cocos (Keeling) Islands and Norfolk Island.',
 '29': 'Including Marshall Islands, Nauru, Northern Mariana Islands, and Palau.',
 '3': 'Including Saint Helena, Ascension, and Tristan da Cunha.',
 '30': 'Including American Samoa, Cook Islands, Niue, Pitcairn, Tokelau, Tuvalu, and Wallis and Futuna Islands.',
 '4': 'For statistical purposes, the data for China do not include Hong Kong and Macao, Special Administrative Regions (SAR) of China, and Taiwan Province of China.',
 '5': 'As of 1 July 1997, Hong Kong became a Special Administrative Region (SAR) of China.',
 '6': 'As of 20 December 1999, Macao became a Special Administrative Region (SAR) of China.',
 '7': 'The regions Southern Asia and Central Asia are combined into South-Central Asia.',
 '8': 'Including Sabah and Sarawak.',
 '9': 'Including Nagorno-Karabakh.',
 'a': 'More developed regions comprise Europe, Northern America, Australia/New Zealand and Japan.',
 'b': 'Less developed regions comprise all regions of Africa, Asia (except Japan), Latin America and the Caribbean plus Melanesia, Micronesia and Polynesia.',
 'c': 'The group of least developed countries, as defined by the United Nations General Assembly in its resolutions (59/209, 59/210, 60/33, 62/97, 64/L.55, 67/L.43, 64/295) included 48 countries in January 2014:  34 in Africa, 9 in Asia, 4 in Oceania and one in Latin America and the Caribbean.',
 'd': 'Other less developed countries comprise the less developed regions excluding the least developed countries.',
 'e': 'The country classification by income level is based on 2014 GNI per capita from the World Bank.',
 'f': 'Sub-Saharan Africa refers to all of Africa except Northern Africa.'}

# Concepts

In [52]:
discrete = mva.columns[:5]

In [53]:
discrete

Index(['Variant', 'Major area, region, country or area *', 'Notes',
       'Country code', 'Reference date (1 January - 31 December)'],
      dtype='object')

In [55]:
discrete_id = list(map(to_concept_id, discrete))

In [56]:
discrete_id

['variant',
 'major_area_region_country_or_area',
 'notes',
 'country_code',
 'reference_date_1_january_31_december']

In [58]:
dis_df = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])
dis_df['concept'] = discrete_id
dis_df['name'] = discrete
dis_df['concept_type'] = ['string', 'string', 'string', 'entity domain', 'time']

In [69]:
dis_df = dis_df.append(pd.DataFrame([['unit', 'Unit', 'string']], columns=['concept', 'name', 'concept_type'], index=[5]))

In [70]:
dis_df

,concept,name,concept_type
0,variant,Variant,string
1,major_area_region_country_or_area,"Major area, region, country or area *",string
2,notes,Notes,string
3,country_code,Country code,entity domain
4,reference_date_1_january_31_december,Reference date (1 January - 31 December),time
5,unit,Unit,string

In [71]:
dis_df.to_csv('./output/ddf--concepts--discrete.csv', index=False)

In [61]:
cont = mva.columns[6:]

In [101]:
cont_1 = res.keys()
cont_2 = res.values()

In [109]:
cont_id = list(map(to_concept_id, cont_1))

In [110]:
cont_df = pd.DataFrame([], columns=['concept', 'name', 'concept_type', 'unit'])
cont_df['concept'] = cont_id
cont_df['name'] = cont_1
cont_df['concept_type'] = 'measure'
cont_df['unit'] = cont_2

In [111]:
cont_df

,concept,name,concept_type,unit
0,infant_deaths_both_sexes_combined,"Infant deaths, both sexes combined",measure,"under age 1, thousands"
1,total_survivors_to_age_1,Total survivors to age 1,measure,thousands
2,crude_death_rate,Crude death rate,measure,"deaths per 1,000 population"
3,life_expectancy_at_birth_females,"Life expectancy at birth, females",measure,years
4,life_expectancy_at_birth_both_sexes_combined,"Life expectancy at birth, both sexes combined",measure,years
5,female_deaths,Female deaths,measure,thousands
6,total_fertility,Total fertility,measure,children per woman
7,total_population_annual_doubling_time,Total population annual doubling time [n=(ln(2...,measure,years
8,population_growth_rate,Population growth rate,measure,percentage
9,crude_birth_rate,Crude birth rate,measure,"births per 1,000 population"
10,infant_mortality_rate,Infant mortality rate,measure,"infant deaths per 1,000 live births"
11,births,Births,measure,thousands
12,rate_of_natural_increase,Rate of natural increase,measure,"per 1,000 population"
13,life_expectancy_at_birth_males,"Life expectancy at birth, males",measure,years
14,population_change,Population change,measure,thousands
15,male_deaths,Male deaths,measure,thousands
16,total_population_natural_change_increase,Total population natural change / increase,measure,thousands
17,under_five_mortality,Under-five mortality,measure,"deaths under age 5 per 1,000 live births"

In [112]:
cont_df.to_csv('./output/ddf--concepts--continuous.csv', index=False)

# Entity

In [ ]:
ent =

In [117]:
np.all(mva['Country code'].unique() == est['Country code'].unique())

True

In [123]:
len(mva['Country code'].unique())

241

In [121]:
tmp = mva[['Country code', 'Major area, region, country or area *']]

In [124]:
ent = tmp.drop_duplicates()

In [125]:
ent.columns = ['country_code', 'major_area_region_country_or_area']

In [126]:
ent.head()

       country_code                  major_area_region_country_or_area
Index
1               900                                              WORLD
86              901                             More developed regions
171             902                             Less developed regions
256             941                          Least developed countries
341             934  Less developed regions, excluding least develo...

In [127]:
ent.to_csv('./output/ddf--entities--country_code.csv', index=False)

# DataPoint

In [140]:
res_dp = {}

for c in est.columns[6:]:
    est_dp = pd.concat([est[['Country code', 'Reference date (1 January - 31 December)', c, 'Variant']],
                       mva[['Country code', 'Reference date (1 January - 31 December)', c, 'Variant']]])
    est_dp.columns = ['country_code', 'reference_date_1_january_31_december', to_concept_id(c), 'variant']
    
    res_dp[to_concept_id(c)] = est_dp.sort_values(by=['country_code', 'reference_date_1_january_31_december'])

In [129]:
res_dp.keys()

dict_keys(['rate_of_natural_increase_per_1_000_population', 'births_thousands', 'male_deaths_thousands', 'total_fertility_children_per_woman', 'life_expectancy_at_birth_females_years', 'total_population_annual_doubling_time__years', 'life_expectancy_at_birth_males_years', 'population_change_thousands', 'population_growth_rate_percentage', 'life_expectancy_at_birth_both_sexes_combined_years', 'crude_birth_rate_births_per_1_000_population', 'total_survivors_to_age_1_thousands', 'infant_mortality_rate_infant_deaths_per_1_000_live_births', 'infant_deaths_both_sexes_combined_under_age_1_thousands', 'total_population_natural_change_increase_thousands', 'under_five_mortality_deaths_under_age_5_per_1_000_live_births', 'crude_death_rate_deaths_per_1_000_population', 'female_deaths_thousands'])

In [141]:
for c, df in res_dp.items():
    path = './output/ddf--datapoints--'+c+'--by--country_code--year.csv'
    df.to_csv(path, index=False)  ## TODO: name too long

# Notes

In [155]:
k1 = mva[['Country code', 'Notes']].drop_duplicates().set_index('Country code')

In [156]:
k2 = est[['Country code', 'Notes']].drop_duplicates().set_index('Country code')

In [160]:
k1['Notes'].dropna()

Country code
901      a
902      b
941      c
934      d
1503     e
1517     e
1502     e
1501     e
1500     e
947      f
480      1
834      2
914      3
156      4
344      5
446      6
921      7
458      8
31       9
196     10
268     11
275     12
498     13
804     14
924     15
830     16
246     17
578     18
925     19
688     20
724     21
807     22
926     23
915     24
312     25
931     26
905     27
36      28
954     29
957     30
Name: Notes, dtype: object

In [161]:
k2['Notes'].dropna()

Country code
901      a
902      b
941      c
934      d
1503     e
1517     e
1502     e
1501     e
1500     e
947      f
480      1
834      2
914      3
156      4
344      5
446      6
921      7
458      8
31       9
196     10
268     11
275     12
498     13
804     14
924     15
830     16
246     17
578     18
925     19
688     20
724     21
807     22
926     23
915     24
312     25
931     26
905     27
36      28
954     29
957     30
Name: Notes, dtype: object

In [168]:
mmm = k1['Notes'].dropna()

In [171]:
mmm.apply(lambda x: res_notes[str(x)])

Country code
901     More developed regions comprise Europe, Northe...
902     Less developed regions comprise all regions of...
941     The group of least developed countries, as def...
934     Other less developed countries comprise the le...
1503    The country classification by income level is ...
1517    The country classification by income level is ...
1502    The country classification by income level is ...
1501    The country classification by income level is ...
1500    The country classification by income level is ...
947     Sub-Saharan Africa refers to all of Africa exc...
480       Including Agalega, Rodrigues and Saint Brandon.
834                                   Including Zanzibar.
914     Including Saint Helena, Ascension, and Tristan...
156     For statistical purposes, the data for China d...
344     As of 1 July 1997, Hong Kong became a Special ...
446     As of 20 December 1999, Macao became a Special...
921     The regions Southern Asia and Central Asia are...
458                          Including Sabah and Sarawak.
31                            Including Nagorno-Karabakh.
196                           Refers to the whole country
268                 Including Abkhazia and South Ossetia.
275                             Including East Jerusalem.
498                               Including Transnistria.
804                                      Including Crimea
924            Including Faeroe Islands, and Isle of Man.
830                       Refers to Guernsey, and Jersey.
246                              Including Ã…land Islands.
578             Including Svalbard and Jan Mayen Islands.
925     Including Andorra, Gibraltar, Holy See, and Sa...
688                                     Including Kosovo.
724          Including Canary Islands, Ceuta and Melilla.
807            The former Yugoslav Republic of Macedonia.
926                  Including Liechtenstein, and Monaco.
915     Including Anguilla, British Virgin Islands, Ca...
312     Including Saint-BarthÃ©lemy and Saint-Martin (F...
931                Including Falkland Islands (Malvinas).
905     Including Bermuda, Greenland, and Saint Pierre...
36      Including Christmas Island, Cocos (Keeling) Is...
954     Including Marshall Islands, Nauru, Northern Ma...
957     Including American Samoa, Cook Islands, Niue, ...
Name: Notes, dtype: object